.menu-item.active {
  color: #ffffff;
  background-color: #1ba720;
}

.button.vertical-center {
  margin-top: 0.5rem;
}

.container {
  margin-top: 1rem;
}

ul.scrollable {
  height: 490px;
  overflow:hidden;
  overflow-y:scroll;
}
